body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.container {
    width: 80%;
    max-width: 800px;
}

svg {
    width: 100%;
    height: auto;
}

path {
    fill: #333;
}

.cls-1 {
    fill: #fff;
}